# dependencies
node_modules/

# environment variables
.env

# production
/dist
/build

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store

# IDEs
.vscode/
.idea/

# optional npm cache directory
.npm
